/webapi_serv/communication/firebase/controlleriot-2d182-firebase-adminsdk-gpnaj-de2637d33a.json
/webapi_serv/db.sqlite3
/front_dev/assets/auth.json
/.vscode/
/env/
/front_web/node_modules/
/front_web/frontend/assets/json/auth.json